<img src = 'https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true' width="240" height="360">
# __Assignment: Numpy and Pandas__
### Level: 2

### 1. Form a 1D array containing elements from -2(including) to 10(excluding) in arithmetic progression with common difference 1.5 , negate all elements which are between 2 and 7, in place. Print out this new array.

In [10]:
import numpy as np
def f(x):
    if x > 2 and x < 7:
        return -x
    else:
        return x
def generate():
    # your code here
    a = np.arange(-2, 10, 1.5)
    a = np.array([f(item) for item in a])
    return a# return modified array
generate()

array([-2. , -0.5,  1. , -2.5, -4. , -5.5,  7. ,  8.5])

### 2. Create random vector of size 7 and replace the maximum value by 2 and minimum by 7. Sort this array in reverse order. Return the modified vector.

In [5]:
import numpy as np
def generate():
    # your code
    a = np.random.rand(7)
    a = np.sort(a)
    a[0] = 7
    a[-1] = 2
    a = np.sort(a)
    #print (a[::-1])
    return a[::-1]# your array
generate()

array([7.        , 2.        , 0.63395822, 0.63229653, 0.56127278,
       0.52479763, 0.45391413])

### 3. Convert a random 7x2 matrix representing cartesian coordinates to polar coordinates. Print out both.
Hint: use arctan2().

In [8]:
import numpy as np
import math
def cart2pol(x, y):
    rho = np.sqrt(x**2 + y**2)
    phi = np.arctan2(y, x)
    return(rho, phi)

def generate():
    # your code here
    car_crd = np.random.rand(7,2)
    print (car_crd)
    pol_crd = np.array([cart2pol(pt[0], pt[1]) for pt in car_crd])
    print (pol_crd)
    # print out both matrices
    return None
generate()

[[0.74207264 0.67588795]
 [0.34905428 0.07127235]
 [0.64564282 0.99939011]
 [0.02737811 0.00358583]
 [0.98536481 0.18780813]
 [0.09170538 0.81977422]
 [0.174762   0.30654251]]
[[1.00374117 0.73875605]
 [0.35625642 0.20141826]
 [1.18980471 0.99721221]
 [0.02761193 0.13023291]
 [1.00310303 0.18833863]
 [0.82488766 1.45939286]
 [0.35285984 1.05264713]]

### 4. Create an numpy array sequence named num_seq when only the starting point, step size and length of sequence is given.

In [12]:
import numpy as np

length = 15
start = 5
step = 2

def generate(start, length, step):
    # your code here
    num_seq = np.arange(start, start + length*step, step)
    return num_seq# array created by you, i.e. num_seq
generate(start, length, step)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33])

### 5. Make a 3*3 array using a 1d array of evenly spaced numbers ranging from 0 to 9, name it arr1.<br/> 
### Then transpose it to obtain arr2.  From arr2 subtract a 1*3 array with all elements 1 to get arr4.
HINT: Use reshape and transpose function.

In [21]:
import numpy as np
def generate():
    # your code here
    arr1 = np.arange(0,9).reshape(3,3)
    #print (arr1)
    arr2 = np.transpose(arr1)
    #print (arr2)
    arr3 = np.ones((1,3))
    #print (arr3)
    arr4 = arr2 - arr3
    #print (arr4)
    return arr4# finally created array i.e arr4
generate()

array([[-1.,  2.,  5.],
       [ 0.,  3.,  6.],
       [ 1.,  4.,  7.]])

### 6. Create a DatetimeIndex that contains each business day of 2016 and use it to index a Series of random numbers. Let's call this Series bus_2k16. Print it out. Hint: use pd.date_range.

In [32]:
import pandas as pd
import numpy as np
def generate():
    # Your code here
    DatetimeIndex = pd.date_range(start='2016-01-01', end='2016-12-31',freq='B')
    bus_2k16 = pd.Series(index =DatetimeIndex, data =np.random.rand(len(DatetimeIndex)))
    
    # print out bus_2k16
    print (bus_2k16)
    return None
generate()

2016-01-01    0.233553
2016-01-04    0.202570
2016-01-05    0.082177
2016-01-06    0.980771
2016-01-07    0.864186
2016-01-08    0.180953
2016-01-11    0.327258
2016-01-12    0.467373
2016-01-13    0.637646
2016-01-14    0.328170
2016-01-15    0.265742
2016-01-18    0.762063
2016-01-19    0.300179
2016-01-20    0.761097
2016-01-21    0.095450
2016-01-22    0.616598
2016-01-25    0.170889
2016-01-26    0.178694
2016-01-27    0.838012
2016-01-28    0.034341
2016-01-29    0.646067
2016-02-01    0.046173
2016-02-02    0.499003
2016-02-03    0.210554
2016-02-04    0.540482
2016-02-05    0.995178
2016-02-08    0.024301
2016-02-09    0.212027
2016-02-10    0.015468
2016-02-11    0.994354
                ...
2016-11-21    0.206432
2016-11-22    0.099916
2016-11-23    0.841928
2016-11-24    0.562196
2016-11-25    0.139916
2016-11-28    0.107842
2016-11-29    0.429042
2016-11-30    0.273570
2016-12-01    0.746798
2016-12-02    0.110017
2016-12-05    0.184485
2016-12-06    0.804095
2016-12-07    0.064372
2016-12-08    0.085567
2016-12-09    0.260044
2016-12-12    0.104857
2016-12-13    0.658454
2016-12-14    0.360480
2016-12-15    0.833295
2016-12-16    0.587843
2016-12-19    0.558454
2016-12-20    0.864710
2016-12-21    0.357600
2016-12-22    0.835543
2016-12-23    0.401181
2016-12-26    0.156648
2016-12-27    0.565843
2016-12-28    0.719147
2016-12-29    0.162432
2016-12-30    0.671077
Freq: B, Length: 261, dtype: float64

###  7. For each calendar month in dataframe bus_2k16, from previous problem. Print out the mean of values also find the sum of the values in bus_2k16 for every Sunday.

In [49]:
import pandas as pd
def generate():
    # Your code here
    DatetimeIndex = pd.date_range(start='2016-01-01', end='2016-12-31',freq='B')
    bus_2k16 = pd.Series(index =DatetimeIndex, data =np.random.rand(len(DatetimeIndex)))
    #print (bus_2k16)
    # print out mean
    sundaySum =0
    meanSum = []
    meanAvg = []
    for i in bus_2k16.items():
        #print (i)
        if i[0].is_month_start:
            #print ('Month Start')
            meanSum.append(i[1])
        elif i[0].is_month_end:
            #print ('Month End')
            meanSum.append(i[1])
            meanAvg.append(sum(meanSum)/len(meanSum))
            meanSum=[]
        
        if i[0].weekday == 6:
            sundaySum += i[1]
    print (meanAvg)
    print (sundaySum)
    # print out sum of the values in bus_2k16 for every Sunday.
    return None
generate()

[0.341747888852503, 0.5817172747039692, 0.3015744127875447, 0.6888641867985206, 0.5636243667721281, 0.5257477069213032, 0.15785297098228823, 0.25932415284239896, 0.8387775201795669, 0.483932268126154, 0.3332468268630694, 0.6952688690854798]
0

### 8.Given the dataframe df, In the From_To column split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values. Also standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".) Assign the correct column names to this temporary DataFrame named as temp. Return temp.

In [62]:
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
import pandas as pd
def generate():
    # write your code here
    print (df)
    temp = df
    temp['From'] = temp.apply(lambda x: x['From_To'].split('_')[0].capitalize(), 1)
    temp['To'] = temp.apply(lambda x: x['From_To'].split('_')[1].capitalize(), 1)
    temp.drop(columns =['From_To'], inplace = True)
    return temp# your temporary variable i.e temp.
generate()

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

   FlightNumber  RecentDelays              Airline      From         To
0       10045.0      [23, 47]               KLM(!)    London      Paris
1           NaN            []    <Air France> (12)    Madrid      Milan
2       10065.0  [24, 43, 87]  (British Airways. )    London  Stockholm
3           NaN          [13]       12. Air France  Budapest      Paris
4       10085.0      [67, 32]          "Swiss Air"  Brussels     London

### 9. Given a dataFrame with 10 columns of real numbers. Find that column's label which has the smallest sum? Also count the number of unique rows the dataframe has. 
Hint: use idxmin method.

In [71]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.random(size=(4, 10)), columns=list('qrstuvwxyz'))
print(df)
def generate():
    # your code here
    #print(df.columns)
    sumDict = {}
    minSumVal = 0
    minSumCol = ''
    for col in df.columns:
        sumDict[col]= sum(df[col])
        if minSumVal == 0:
            minSumCol = col
            minSumVal = sum(df[col])
        elif minSumVal > sum(df[col]):
            minSumCol = col
            minSumVal = sum(df[col])
    print (sumDict)
    print (minSumCol)
    # print out that column's label which has the smallest sum
    # Also count the number of unique rows the dataframe has.
    print (df.drop_duplicates().count())
    return None
generate()

          q         r         s         t         u         v         w  \
0  0.752911  0.360248  0.790636  0.611201  0.357219  0.949928  0.008323
1  0.570741  0.522263  0.818732  0.080736  0.611153  0.077627  0.573451
2  0.108368  0.335420  0.119462  0.249796  0.608168  0.263238  0.530200
3  0.975172  0.437942  0.934582  0.966548  0.847611  0.718073  0.144811

          x         y         z
0  0.330979  0.214091  0.167392
1  0.530861  0.521119  0.644926
2  0.112460  0.490164  0.962604
3  0.771953  0.459426  0.322786
{'q': 2.4071924777247204, 'r': 1.6558725978970532, 's': 2.663411513098115, 't': 1.908282428211911, 'u': 2.4241507605183816, 'v': 2.008866167042805, 'w': 1.256784858502297, 'x': 1.7462524703115, 'y': 1.6848001486659883, 'z': 2.097707233419508}
w
q    4
r    4
s    4
t    4
u    4
v    4
w    4
x    4
y    4
z    4
dtype: int64

### 10. Given a dataFrame df with a column 'int' of integers. Print out the dataframe with filtered out rows which contain the same integer as the row immediately above. Also print out the dataframe after subtracting the mean of all integers from each element .
Hint: use drop_duplicates and sub methods

In [74]:
import pandas as pd
df = pd.DataFrame({'int': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
def generate():
    # your code here
    print (df)
    # Print out the dataframe with filtered out rows which contain the same integer as the row immediately above
    print (df[df['int'] == df['int'].shift()])
    # Print out the dataframe after subtracting the mean of all integers from each element
    print (df['int'] - df['int'].mean())
    return None
generate()

    int
0     1
1     2
2     2
3     3
4     4
5     5
6     5
7     5
8     6
9     7
10    7
    int
2     2
6     5
7     5
10    7
0    -3.272727
1    -2.272727
2    -2.272727
3    -1.272727
4    -0.272727
5     0.727273
6     0.727273
7     0.727273
8     1.727273
9     2.727273
10    2.727273
Name: int, dtype: float64