<img src = 'https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true' width="240" height="360">
# __Assignment: Numpy and Pandas__
### Level: 1

### 1. Create a null vector of size 7 but the third and last value as 2.

In [1]:
import numpy as np
def generate():
    # Write your code here
    a = np.zeros(7)
    a[-1] = 2
    a[2] = 2
    return a# your variable 
generate()

array([0., 0., 2., 0., 0., 0., 2.])

### 2. Create a vector of size 9 with values ranging from 0 to 2, both excluded.

In [5]:
import numpy as np
def generate():
    # Write your code here
    a = np.linspace(0,2,11, endpoint = True)[1:-1]
    return a# your variable
generate()

array([0.2, 0.4, 0.6, 0.8, 1. , 1.2, 1.4, 1.6, 1.8])

### 3. Convert the first character of each element in a series to uppercase? And return the new series.

In [8]:
import pandas as pd
series = pd.Series(['how', 'to', 'learn', 'data science?'])
def generate():
    # your code
    return series.str.capitalize()# your variable for new series
generate()

0              How
1               To
2            Learn
3    Data science?
dtype: object

### 4. Given a 3*3 matrix named matrix_fab, From each element of this matrix subtract the mean of that row, name this matrix as matrix_sub. Divide each element of this matrix by twice of the largest element to get matrix_norm. Print it out.

In [14]:
import numpy as np
arr = np.arange(0,9)                                
matrix_fab = arr.reshape(3,3)
def generate():
    # Write your code here
    r1Mean = np.mean(matrix_fab[0])
    r2Mean = np.mean(matrix_fab[1])
    r3Mean = np.mean(matrix_fab[2])
    # print (r1Mean, r2Mean, r3Mean)
    matrix_sub = np.array([matrix_fab[0] - r1Mean, matrix_fab[1] - r2Mean, matrix_fab[2] - r3Mean])
    maxArr = np.max(matrix_fab)
    print (matrix_fab)
    print (matrix_sub)
    
    matrix_norm = matrix_sub/maxArr
    # print matrix_norm
    print (matrix_norm)
    return None
generate()

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[-1.  0.  1.]
 [-1.  0.  1.]
 [-1.  0.  1.]]
[[-0.125  0.     0.125]
 [-0.125  0.     0.125]
 [-0.125  0.     0.125]]

### 5. Create a random vector of size 12 , sort it in decreasing order, make 4*3 array using it.
Hint: use reshape and sort function.

In [15]:
import numpy as np
def generate():
    # Write your code here
    a = np.random.rand(12)
    a = a[::-1]
    return a.reshape(4,3)# your variable
generate()

array([[0.86095916, 0.30614586, 0.52917378],
       [0.55262377, 0.23251495, 0.44495424],
       [0.51329856, 0.56851482, 0.13047158],
       [0.68324967, 0.46745083, 0.00487614]])

### 6. Below is Python dictionary data and Python list labels. Create a DataFrame df from this dictionary data which has index as labels. Select the rows where the age is missing, i.e. is NaN.

In [34]:
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
import pandas as pd
def generate():
    # Write your code here
    df = pd.DataFrame(data = data, index = labels)
    print (df.info())
    print (df[df.age.isnull()])
    return # your variable
generate()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None
  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

### 7. From the give dataframe df, in the 'animal' column change the 'dog' entries to 'Labrador', change the age in row 'd' to 2.7 and calculate the mean age (name it mean_age) for each different animal in df. Print df and return mean_age.

In [62]:
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
def generate():
    # write your code here
    df = pd.DataFrame(data=data, index=labels)
    print (df)
    #print (df.index)
    #print(df[df.animal == 'dog'])
    df['animal'] = df.apply(lambda x: 'Labrador' if x.animal == 'dog' else x.animal, 1)
    #df = df.replace('dog', 'Labrador')
    #print (df.loc['d','age'])
    df.loc['d','age'] = 2.7
    df.loc['h','age'] = 2.7
    #print (df.loc['d','age'])
    # Also print df
    print (df)
    mean_age = df.groupby('animal')
    mean_age = mean_age['age'].mean()
             
    return mean_age# your variable i.e mean_age
generate()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
     animal  age  visits priority
a       cat  2.5       1      yes
b       cat  3.0       3      yes
c     snake  0.5       2       no
d  Labrador  2.7       3      yes
e  Labrador  5.0       2       no
f       cat  2.0       3       no
g     snake  4.5       1       no
h       cat  2.7       1      yes
i  Labrador  7.0       2       no
j  Labrador  3.0       1       no

animal
Labrador    4.425
cat         2.550
snake       2.500
Name: age, dtype: float64

### 8.  From the given dataframe get the positions where values of two columns match?

In [82]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})
def generate():
    # your code here
    # print (df)
    print (df[(df.fruit1 == df.fruit2)])
    # matchStatus = (df.fruit1 == df.fruit2)
    # print (matchStatus[matchStatus == True])
    return None
generate()

   fruit1  fruit2
5  orange  orange
7  orange  orange
8  banana  banana

### 9. Find the positions of numbers that are multiples of 4 from a series? Print series and return position. Hint: use argwhere.

In [88]:
import pandas as pd
import numpy as np
series = pd.Series(np.random.randint(1, 10, 7))
def generate():
    # your code here
    print (series)
    positions = (np.argwhere(series%4 ==0))
    # print(series)
    return positions# your variable
generate()

0    1
1    4
2    3
3    2
4    7
5    5
6    2
dtype: int32

array([[1]], dtype=int64)

### 10. Stack two given series vertically and horizontally ? Print out both.

In [92]:
import pandas as pd
import numpy as np
series1 = pd.Series(range(5))
series2 = pd.Series(list('abcde'))
def generate():
    # your code 
    hstack = pd.concat([series1, series2]).reset_index()
    vstack = pd.concat([series1, series2], axis=1)
    # print out both vertically and horizontally stacked series.
    print (hstack)
    print (vstack)
    return None
generate()

   index  0
0      0  0
1      1  1
2      2  2
3      3  3
4      4  4
5      0  a
6      1  b
7      2  c
8      3  d
9      4  e
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e